{
	"extends": "eslint:recommended",
	"plugins": ["import"],
	"env": {
		"browser": true,
		"node": true,
		"es6": true
	},
	"rules": {
		"no-underscore-dangle": "off",
		"no-console": "off",
		"no-use-before-define": ["error", { "functions": false }],
		"no-unused-vars": "warn"
	},
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module"
	}
}
